
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-around;
  background: rgb(161, 228, 161);
  align-items: center;
}



.cart {
  width: 60vw;
  margin: auto;
}

.cart td {
  padding: 0.5rem
}

.cart .cart-name-col {
  width: 25rem;
}

.cart thead {
  background-color: lightgrey;
  border: none;

}

.cart tfoot {
  font-weight: bold;
}

.cart-line-price, .cart-line-quantity, .cart-line-total {
  text-align: right;
}

.cart .car-price-col, .car-total-col {
  width: 10vw;
}

.add-to-cart {
  display: none;
}

.add-to-cart:active  {
  display: contents;
}

.footer {
  display: flex;
  background: rgb(161, 228, 161);
  justify-content: space-around;
  margin-top: 3em;
  padding: 2em 15em;
}


.footer li {
  list-style: none;
  padding: 0.2em 0;
}
